.btn-forgot {
	background-color: #2A37B3 !important;
	border-color: #2A37B3 !important;
}

@media screen and (max-width: 400px) {
	button.btn-forgot {
		.btn-text-desk {
			display: none;
		}
		.btn-text-movil {
			display: block !important;
		}
	}

	.text-footer {
		text-align: center;
		div {
			float: unset !important;
		}
	}
}