<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid">
        <div class="row full-height-vh gradient-aqua-marine">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <img src="assets/img/logos/agendameya_logotipo.png" alt="company-logo" style="width: 230px">
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card p-4 box-shadow-2 width-400">
                    <div class="card-body">
                        <div class="card-block">
                            <p style="margin-bottom: 0" class="text-muted text-center f-12">Ingresa el <b>Correo</b> asociado a la cuenta a <b>Recuperar</b></p>
                            <form class="pt-2" (ngSubmit)="onSubmit()" #f="ngForm">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" name="inputEmail" id="inputEmail" placeholder="Correo Electronico" ngModel>
                                </div>
                                <div class="form-group pt-2">
                                    <div class="text-center mt-3 col-md-12">
                                        <button type="button" class="btn btn-danger btn-forgot btn-raised btn-sm btn-block px-4 py-2 text-uppercase white font-small-1 box-shadow-2 border-0">
                                            <span class="btn-text-desk">Enviar Correo con Instrucciones</span>
                                            <span class="btn-text-movil" style="display: none">Enviar Correo</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer grey darken-1 text-footer">
                            <div class="float-left"><a (click)="onLogin()">Iniciar Sesión</a></div>
                            <div class="float-right">¿Eres nuevo? <a (click)="onRegister()">Registrarme</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->