.textSizeCita {
	font-size: 13px;
}

.nameService {
	font-size: 19px;
}

@media screen and (max-width: 1020px) {
	.center-movil {
		text-align: center;
	}
}

@media screen and (max-width: 420px) {
	.mgMovil {
		margin-top: 10px !important;
	}

	.mgMovilTwo {
		margin-top: 25px !important;
	}
}