.textSizeCita {
	font-size: 13px;
}

.nameService {
	font-size: 19px;
}

ngb-timepicker {
	button {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1020px) {
	.center-movil {
		text-align: center;
	}
}

@media screen and (max-width: 420px) {
	.inputSearchMovil {
		width: 70% !important;
		padding-right: 0 !important;
	}
	.btnSearchMovil {
		width: 30% !important;
	}
	.btnActionsMovil {
		padding-top: 0 !important;
		text-align: center !important;
	}
	
	.mgMovil {
		margin-top: 10px !important;
	}

	.mgMovilTwo {
		margin-top: 25px !important;
	}
}