.textSizeCita {
	font-size: 13px;
}

.nameService {
	font-size: 19px;
}

@media screen and (max-width: 420px) {

	.inputSearchMovil {
		width: 70% !important;
		padding-right: 0 !important;
	}
	.btnSearchMovil {
		width: 30% !important;
	}

	.hideMovil {
		display: none;
	}

}