<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-md-5">
				<label for="">&nbsp;</label>
				<input type="text" class="form-control round">
			</div>
			<div class="col-md-1">
				<label for="">&nbsp;</label>
				<button class="btn btn-primary btn-raised">
					Buscar
				</button>
			</div>
			<div class="col-md-6 text-right" style="padding-top: 2rem !important">
				<button class="btn btn-primary btn-raised">
					Agregar
				</button>
				<button class="btn btn-primary btn-raised ml-1">
					Editar
				</button>
				<button class="btn btn-primary btn-raised ml-1">
					Desactivar
				</button>
			</div>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-block">
		<!-- <div class="card-header">
			<h5>Clientes</h5>
		</div> -->
		<div class="row">
			<div class="col-md-4">

				<h5>Administradores</h5>

				<ul class="list-group mt-4">
				    <a href="javascript;">
				    	<li class="list-group-item active">
				    		<strong class="font-medium-3">Victor Ortiz</strong><br>
				    		<span>victor@gmail.com</span>, <span>+571211522202</span>
						</li></a>
				        <a href="javascript;">
				        	<li class="list-group-item">
				        		<strong class="font-medium-3">Kelly Ortiz</strong><br>
				        		<span>kelly@gmail.com</span>, <span>+571211522202</span>
				    		</li></a>
				</ul>
			</div>
			<div class="col-md-4">

				<h5>Detalles</h5>

				<form class="form mt-4">
					<div class="form-body">

						<div class="form-group">
							<label for="name">Franquicia</label>
							<select name="franquicia" id="franquicia" class="form-control">
								<option value="" selected>EmpresaA</option>
							</select>
						</div>

						<div class="form-group">
							<label for="name">Nombre</label>
							<input type="text" id="name" class="form-control round" name="name" value="Victor">
						</div>

						<div class="form-group">
							<label for="lastname">Apellido</label>
							<input type="text" id="lastname" class="form-control round" name="lastname" value="Ortiz">
						</div>


						<div class="form-group">
							<label for="phone">Numero de Telefono</label>
							<input type="text" id="phone" class="form-control round" name="phone" value="987415236">
						</div>


						<div class="form-group">
							<label for="phoneMovil">Numero de Movil</label>
							<input type="text" id="phoneMovil" class="form-control round" name="phoneMovil" value="7616512561">
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4">

				<form action="" class="form" style="margin-top: 3.6rem !important">
				    <div class="form-body">
				        <div class="form-group">
				            <label for="email">Email</label>
				            <input type="email" id="email" class="form-control round" name="email" value="ortiz@gmail.com">
				        </div>
				        
				        
				        <div class="form-group">
				            <label for="password">Contraseña *</label>
				            <input type="password" id="password" class="form-control round" name="password" value="123456789">
				        </div>
				        
				        
				        <div class="form-group">
				            <label for="passwordR">Reingrese su contraseña *</label>
				            <input type="password" id="passwordR" class="form-control round" name="passwordR" value="987415263">
				        </div>
				        
				        <div class="form-group">
				            <label for="calendar">Calendario</label>
				            <select name="calendar" id="calendar" class="form-control">
				                <option value="" selected>Default</option>
				            </select>
				        </div>

				        <div class="form-group">
				            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
				                <input type="checkbox" class="custom-control-input" checked id="notificacions">
				                <label class="custom-control-label float-left" for="notificacions">Recibir notificaciones</label>
				            </div>
				        </div>
				        <div class="form-group">
				            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
				                <input type="checkbox" class="custom-control-input" checked id="active">
				                <label class="custom-control-label float-left" for="active">Activo</label>
				            </div>
				        </div>
				    </div>
				</form>
			</div>
		</div>
		
	</div>
</div>